@import url(https://fonts.googleapis.com/css?family=Karla:100,400,500,600,700);

body {
    background-image: url(./assets/Scattered-Forcefields\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Karla', Helvetica , monospace;
}

h1 {
    color: hsl(179, 62%, 43%);
    
}

h2 {
    color: hsl(71, 73%, 54%);
}

.containergrid { 
    height: 45vh;
    padding-top: 4rem;
    padding-bottom: 10rem;
}

.containergrid section {
    margin: 0 auto;  
    display: grid;  
    column-gap: 0;
    width: 55vw;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19) ;
}

.containergrid section .itemone {
    grid-column: 1 / -1; 
}

.itemone {
    background-color: white;
    width: 800px;
    height: 250px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 30px;
    padding-top: 30px;
    padding-left: 40px;
}
.itemone > h1 {
    font-size: 27px;
}

.itemone > p {
    color: hsl(0, 0%, 75%);
    font-weight: 600;
    font-size: large;
}

.itemtwo {
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 6px;
}

.itemtwo > h2 {
    color: hsl(200, 17%, 93%);
}
.itemtwo > div {
    color: hsl(200, 17%, 93%);
    font-size: xx-large;
    font-weight: bolder;
}

.itemtwo > div > sup {
    color: hsla(200, 17%, 93%, 0.589);
    font-size: 20px
}
.itemtwo > p {
    color: hsl(200, 17%, 93%);
}

.itemtwo > div:nth-of-type(2) > p {
    font-size: 20px;
    font-weight: bolder;
}

.itemthree {
    background-color: hsl(179, 41%, 59%);
    border-bottom-right-radius: 6px;
}

.itemthree > h2 {
    color: hsl(200, 17%, 93%);
}
.itemthree > p {
    color: hsla(200, 17%, 93%, 0.884);
    font-family: 'Karla';
    margin: 7px;
}

.itemtwo , .itemthree {
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    width: 380px;
}

.btn {
    margin-top: 40px;
    margin-bottom: 10px;
    color: hsl(200, 17%, 93%);
    text-align: center;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    padding: 5px;
    width: 10em;
    box-shadow: 0 0 15px 1px hsl(180, 1%, 44%);
}

.btn:hover {
    background-color: hsl(179, 94%, 34%);
    cursor: default;
}
















/* Footer */

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
